.encabezado p {
  font-size: 70%;
  /*line-height: 100%;*/
  margin-top: 1%;
  margin-bottom: 1%;


  /*page-break-after: always;
    */


}

.table {
  font-size: 70%;
  width: 60%;
  height: auto;
  margin: auto;

  /*page-break-after: always;
    */


}
.cierre { 
  text-align: left;
  margin-left: 5%;
  width: 90%;


}

.salto {

  page-break-after: always;

}

#n_pagina {

  margin-top:15pt;


}

#encabezado_centro{

  margin-top:5pt;


}

.col {

  margin-top:15pt;


}
#table_row{

  margin-top:50pt;


}

#numero_cert{

  margin-top:20pt;


}


@page:left{
  @bottom-left {
    content: "Page " counter(page) " of " counter(pages);
  }
}
