.encabezado p {
  font-size: 70%;
  /*line-height: 100%;*/
  margin-top: 1%;
  margin-bottom: 1%;


  /*page-break-after: always;
    */


}

.table {
  font-size: 70%;
  width: 80%;
  height: auto;
  margin: auto;

  /*page-break-after: always;
    */


}

.table p {

  text-align:justify;
}
.cierre { 
  text-align: left;
  margin-left: 5%;
  width: 90%;


}

.salto_antes {
 
  page-break-after: always;
  margin-bottom: 1%;
  text-align: right;
  font-size: 1rem;

}

.salto_despues {

  page-break-before: always;
  margin-top: 1%;
  
  

}


#n_pagina {

  margin-top:15pt;


}

#encabezado_centro{

  margin-top:5pt;


}

.col {

  margin-top:15pt;


}
#table_row{

  margin-top:25pt;


}



#corte41{
  margin-top: 100pt;
}

.titulo{
  margin-top: 10pt;
  font-size: 9pt;
  text-align:left;
  text-decoration: underline;
  
}

#tabla_encabezado {
  margin-left: 40px;
}

#pie1 {

  margin-top: 100pt;

}
#pie2 {

  
  margin-top: 1pt;

}

#pie3 {

  
  margin-top: 350pt;

}

h1 {

  margin-top: 20pt;
}

